<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grand Exchange</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

  {% include "header.html" %}

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-4">Create a New Account</h1>
      {%if createUserFailed %}<div><font color="red">Failed to Create User. Please try again</font></div><br>{% endif %}
      {%if not userExists %}<div><font color="red">User Already Exists</font></div><br>{% endif %}
      <p class="lead">Create a new account to be able to make buy and sell requests with your fellow Grand Exchange members.</p>

        <form action="/create/user/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id="login_button" value="OK">
        </form>
    </header>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Grand Exchange 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
