<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% include "header.html" %}
  <title>Grand Exchange Items</title>
</head>

<body>
  <div class="container-fluid" style="margin-top:100px;">
    <!-- Page Features -->
    <div class="row text-center">
      {% for item in dict %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">{{item.title}}</h4>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text">Number Sold: {{item.numberBought}}</p>
            <p class="card-text">Price: {{item.price}}g</p>
          </div>
          <div class="card-footer">
            <a href="/detail/{{ item.id }}/" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      {% endfor%}
</body>

</html>