<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grand Exchange</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

  {% include "header.html" %}

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to the GE</h1>
      <p class="lead">The Grand Exchange (abbreviated as GE) is a trading system for players to buy and sell almost all tradeable items.</p>
      <a href="/create/user/" class="btn btn-primary btn-lg">Create an Account now!</a>
      <a href="/login/" class="btn btn-primary btn-lg">Already have one? Login Here!</a>
      <a href="/create/item/" class="btn btn-primary btn-lg">Create Listing</a>
      {%if login%}<a href="/profile/" class="btn btn-primary btn-lg"> Update Profile </a>{% endif %}
    </header>

    <h1>Hottest Items🔥</h1>
    <!-- Page Features -->
    <div class="row text-center">
        {% for item in hot %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">{{item.title}}</h4>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text">Number Sold: {{item.numberBought}}</p>
            <p class="card-text">Price: {{item.price}}g</p>
          </div>
          <div class="card-footer">
            <a href="/detail/{{ item.id }}/" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      {% endfor%}
    </div>
    <h1>Cheapest Items🤑</h1>
    <!-- Page Features -->
    <div class="row text-center">
        {% for item in cheap%}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">{{item.title}}</h4>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text">Price: {{item.price}}g</p>
            <p class="card-text">Number Sold: {{item.numberBought}}</p>
          </div>
          <div class="card-footer">
            <a href="/detail/{{ item.id }}/" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      {% endfor%}
    </div>
    
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Grand Exchange 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
